/* INFORMATION
	- Document: T&Cs formatter
	- Version:  1.0.0
	- Author:   A. CAVALLARO
*/

/* COLOR
  --main-bg-color:    #eee;
  --main-text-color:  black;
*/

/* FONTS
	- Default Text:     Roboto
*/

/* ===============
    Global Styles
   =============== */

   @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/Pru33qjShpZSmG3z6VYwnT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

:root {
  /* CSS Custom Variables */
  --main-bg-color: #eee;
  --main-text-color: black;
  --box-shadow-color: #333333;

  -webkit-box-sizing: border-box; /* Safari/Chrome, outros */
  -moz-box-sizing: border-box; /* Firefox, outros */
  box-sizing: border-box; /* Opera/IE 8+ */
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
  text-align: center;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0 auto;
  font-size: 1.5em;
  font-family: Roboto;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-around;
}

textarea {
  min-width: 18vw;
  max-width: 80vw;
  min-height: 200px;
  max-height: 80vh;
  padding: 1.3em;
  font-size: 0.8em;
  box-shadow: 8px 8px 8px var(--box-shadow-color);
  border-radius: 1em;
}
#copyButton {
  position: absolute;
  cursor: pointer;
}

@media only screen and (min-width: 684px) {
  main {
    flex-direction: row;
  }
  textarea {
    font-size: 0.7em;
  }
}
@media only screen and (min-width: 972px) {
  main {
    flex-direction: row;
  }
  textarea {
    font-size: 1em;
  }
}

